<!-- navbar option 1 -->
<!-- <app-navbar (toggleSidenavEvent)="sidenav.toggle()"></app-navbar>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button (click)="logout1()">
          <mat-icon>account_circle</mat-icon>
        </button>
        <span>My Profile</span>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="logout1()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <span>Logout</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
   -->

  <!-- navbar option 2  -->
  <app-navbar></app-navbar>