<h1>Add City</h1>

<form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
  <label for="strCityName">CityName:</label>
  <input type="text" id="strCityName" formControlName="strCityName">

  <label for="intStateID">State ID:</label>
  <input type="number" id="intStateID" formControlName="intStateID">

  <label for="CountryId">Country ID:</label>
  <input type="number" id="CountryId" formControlName="intCountryID">

  <br> <br>
  <button type="submit" [disabled]="cityForm.invalid">Add City</button>
</form>

<br> <br>
<a routerLink="/home">Go to Home</a>

