
  <h2>Tabs</h2>
  <mat-tab-group>
    <mat-tab label="Tab 1">Content for Tab 1</mat-tab>
    <mat-tab label="Tab 2">Content for Tab 2</mat-tab>
    <mat-tab label="Tab 3">Content for Tab 3</mat-tab>
  </mat-tab-group>
  

  <h2> Stepper</h2>
  <mat-horizontal-stepper>
    <mat-step label="Step 1">Content for Step 1</mat-step>
    <mat-step label="Step 2">Content for Step 2</mat-step>
    <mat-step label="Step 3">Content for Step 3</mat-step>
  </mat-horizontal-stepper>
  <mat-vertical-stepper>
    <mat-step label="Step 1">Content for Step 1</mat-step>
    <mat-step label="Step 2">Content for Step 2</mat-step>
    <mat-step label="Step 3">Content for Step 3</mat-step>
  </mat-vertical-stepper>


 
